@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
  font-weight: bold;
}

/*PAGE RESETTING*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*GLOBAL STYLES*/
html {
  font-size: 62.5%; /*To make 1rem = 10px*/
}

body {
  background: radial-gradient(#1f3756, #141539);
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1,
h2 {
  color: white;
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}

button {
  text-transform: uppercase;
  padding: 1rem !important;
  font-size: 1.5rem !important;
  margin: 0 auto;
  border-radius: 10px !important;
  letter-spacing: 0.3rem;
  text-align: center;
  outline: none;
  border: none;
  background: transparent;
  font-weight: bold;
}
/*HEADER*/
header {
  width: 85%;
  border: 3px solid hsl(217, 16%, 45%);
  margin: 2rem auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 1rem;
  min-height: 10vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  display: block;
  height: 75%;
}

#score-container {
  background-color: white;
  padding: 0 3rem;
  border-radius: 10px;
}

#score-container h2 {
  color: hsl(229, 64%, 46%);
  font-weight: bold;
  letter-spacing: 0.2rem;
}

#score {
  color: hsl(229, 25%, 31%);
  margin: 0;
  font-size: 5.5rem;
  line-height: normal;
  font-weight: bold;
}

/*MAIN SECTION*/
#playerChoice,
#gameMatch {
  min-height: 50vh;
  width: 100vw;
  margin: 0 auto;
}

#playerChoice {
  position: relative;
  background: url("../../images/bg-pentagon.svg") center no-repeat;
  background-size: 75%;
}

.game-btn {
  position: absolute;
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50% !important;
  background-position: center;
  background-repeat: no-repeat;
}

/* Buttons are positioned absolute */

#playerChoice button:nth-child(1) {
  top: 5%;
  left: 40%;
}

#playerChoice button:nth-child(2) {
  right: 5%;
  top: 30%;
}

#playerChoice button:nth-child(3) {
  bottom: 10%;
  right: 10%;
}

#playerChoice button:nth-child(4) {
  bottom: 10%;
  left: 10%;
}

#playerChoice button:nth-child(5) {
  left: 5%;
  top: 30%;
}

/* Box shadows for each button */
.blank {
  background: hsl(229, 25%, 31%);
  box-shadow: 0 0 0 11px hsl(229, 25%, 31%);
}

.scissor {
  background-image: url("../../images/icon-scissors.svg");
  box-shadow: inset 0 3px 2px lightgray, 0 0 0 11px hsl(40, 84%, 53%),
    0 4px 0 11px hsl(29, 78%, 44%);
}

.paper {
  background-image: url("../../images/icon-paper.svg");
  box-shadow: inset 0 3px 2px lightgray, 0 0 0 11px hsl(230, 89%, 62%),
    0 4px 0 11px hsl(230, 65%, 46%);
}

.spock {
  background-image: url("../../images/icon-spock.svg");
  box-shadow: inset 0 3px 2px lightgray, 0 0 0 11px hsl(189, 59%, 53%),
    0 4px 0 11px hsl(195, 56%, 43%);
}

.rock {
  background-image: url("../../images/icon-rock.svg");
  box-shadow: inset 0 3px 2px lightgray, 0 0 0 11px hsl(349, 71%, 52%),
    0 4px 0 11px hsl(349, 69%, 44%);
}

.lizard {
  background-image: url("../../images/icon-lizard.svg");
  box-shadow: inset 0 3px 2px lightgray, 0 0 0 11px hsl(261, 73%, 60%),
    0 4px 0 11px hsl(261, 56%, 42%);
}

/*GAME MATCH SECTION*/
#gameMatch {
  min-height: 65vh;
  padding-top: 3rem;
  display: none;
  text-align: center;
  flex-direction: row;
  justify-self: center;
  flex-wrap: wrap;
}

.pick {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pick h1 {
  margin-bottom: 5rem;
}

.button-container {
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

/*WIN LOSE DIV + PLAY AGAIN BUTTON*/
#winLose {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#playAgain {
  width: 72%;
  text-align: center;
  color: #1a294a;
  margin: 2.5rem auto;
  background-color: whitesmoke;
  height: 50px;
}
#winLose h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

#rulesButton {
  width: 40%;
  color: white;
  border: 2px solid white;
  padding-left: 1.5rem !important;
}

.winning {
  z-index: -1;
  animation: winning 0.5s ease-out alternate infinite;
}

/*MDOAL*/
.modal-content {
  height: 90vh;
}

.modal-header {
  justify-content: center;
}
.modal-header h2 {
  color: hsl(229, 25%, 31%);
  font-weight: bold;
  font-size: 2.5rem;
}

.btn-close {
  position: absolute;
  bottom: 10%;
  z-index: 2;
}

.modal-content img {
  display: block;
  margin: 0 auto;
  padding-top: 7rem;
}

@media screen and (max-height: 700px) {
  .game-btn {
    width: 70px;
    height: 70px;
  }

  #gameMatch {
    min-height: 50vh;
    padding-top: 1rem;
  }

  .pick h1 {
    margin-bottom: 0;
  }

  #playAgain {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 576px) {
  header {
    min-width: 400px;
    width: 45vw;
  }

  #playerChoice {
    min-width: 400px;
    max-width: 500px;
    height: 50vh;
  }

  #gameMatch {
    min-width: 400px;
    width: 80vw;
    height: 70vh;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 50vw;
    max-width: 700px;
  }

  #gameMatch {
    width: 75vw;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .pick {
    width: 50%;
    justify-content: space-around;
  }

  .pick:first-of-type {
    order: -1;
  }

  .pick h1 {
    font-size: 2rem;
  }

  .button-container {
    position: relative;
    align-items: baseline;
    height: 50%;
    order: initial;
  }

  .pick button {
    transform: scale(1.5);
  }

  #winLose {
    order: -1;
    width: 36%;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  #winLose h1 {
    font-size: 3.5rem;
  }

  #playAgain {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  #rulesButton {
    position: absolute;
    width: 200px;
    bottom: 5%;
    right: 5%;
  }
}

@media screen and (min-width: 992px) {
  .pick button {
    transform: scale(2.3);
  }

  #winLose h1 {
    font-size: 4.5rem;
  }
}

@keyframes winning {
  0% {
  }

  25% {
    box-shadow: 0 0 0 3vh hsla(220, 33%, 33%, 0.7);
  }

  50% {
    box-shadow: 0 0 0 3vh hsla(220, 33%, 33%, 0.7),
      0 0 0 5vh hsla(220, 40%, 30%, 0.7);
  }

  75% {
    box-shadow: 0 0 0 3vh hsla(220, 33%, 33%, 0.7),
      0 0 0 5vh hsla(220, 40%, 30%, 0.7), 0 0 0 7vh hsla(220, 40%, 25%, 0.8);
  }

  100% {
    box-shadow: 0 0 0 3vh hsla(220, 33%, 33%, 0.7),
      0 0 0 5vh hsla(220, 40%, 30%, 0.7), 0 0 0 7vh hsla(220, 40%, 25%, 0.8);
  }
}
